body {
    margin: 0;
    font-family: Arial;
}

h1 {
    background-color: #fff;
    margin: 0;
}

.tooltip {
    display: none;
    position: relative;
    background-color: rgb(227, 184, 176);
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    left: 1em;
}

.tooltip:after {
    position: absolute;
    top: 10px;
    border-style: solid;
    height: 0px;
    width: 0px;
}

@media screen and (min-width:1400px) {
    body {
        background-image: linear-gradient(90deg, #6b7f88, #ee1b2e);
    }
    
    h1  {
        font-size: 50px;
        padding-left: 90px;
        padding: 50px;
    }

    img {
        margin: 20px;
        margin-left: 50px;   
        width: 760px;
        float: left;
    }

    form {
        width: 35%;
        padding: 10px;
        background-color: #d4d3d3;
        margin: 20px;
        margin-top: 30px;
        float: right;
        margin-right: 100px;
        border-radius: 8px;
        box-shadow: 1px 1px 5px 6px #f06672;
    }

    form h2 {
        text-align: center;
    }

    p {
        padding-bottom: 15px;
    }

    input.text {
        width: 50%;
    }

    .button {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: 60px;
    }

    .gender input {
        margin-top: 10px;
    }
}


@media screen and (max-width: 780px) {
    body {
        font-size: 200%;
        background-image: #fff;
    }

    img {
        height: 0;
    }
    
    h1 {
        text-align: center;
        padding-top: 30px;
        padding-left: 40px;
    }

    form {
        margin: 10px;
        width: 100%;
        padding: 10px;
        background-color: #d3d4d4;
        margin: 0;
        margin-bottom: 0;
    }
    
    form h2 {
        font-size: 40px;
        margin-bottom: 0;
    }
    
    .text input {
        width: 100%;
    }
    
    .gender {
        margin-bottom: 50px;
    }

    .gender input {
        margin-left: 20px;
    }
    

    p {
        margin: 0;
        padding: 10px;
    }

    .button {
        width: 60%;
        margin: auto;
        font-size: 20px;
        padding: 10px;
        margin-left: 20px;
    }
    
}
